<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3931fc8135accf067a2305835f1e9f95 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_3931fc8135accf067a2305835f1e9f95" ></div>
        
</body>
<script>
    
    
            var map_3931fc8135accf067a2305835f1e9f95 = L.map(
                "map_3931fc8135accf067a2305835f1e9f95",
                {
                    center: [31.0461, 34.8516],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 10,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_2c9ce52c87282147bf7ad4492c9d0c8f = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_2c9ce52c87282147bf7ad4492c9d0c8f.addTo(map_3931fc8135accf067a2305835f1e9f95);
        
    
            var marker_c15b275464f3370e0da103a573adb8fa = L.marker(
                [-64.0, -64.0],
                {
}
            ).addTo(map_3931fc8135accf067a2305835f1e9f95);
        
    
        var popup_0fad35f4ed873658c4f08697bf2945d4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1822e6b000e46bb9f41f0a9e0f71dd1d = $(`<div id="html_1822e6b000e46bb9f41f0a9e0f71dd1d" style="width: 100.0%; height: 100.0%;">title: ARGENTINA.  The ERP bombed three foreign businesses in Buenos Aires.,   date: 971-5-3,</div>`)[0];
                popup_0fad35f4ed873658c4f08697bf2945d4.setContent(html_1822e6b000e46bb9f41f0a9e0f71dd1d);
            
        

        marker_c15b275464f3370e0da103a573adb8fa.bindPopup(popup_0fad35f4ed873658c4f08697bf2945d4)
        ;

        
    
    
            var marker_620b2df195df4c8612cbbe049a8fe6ec = L.marker(
                [-64.0, -64.0],
                {
}
            ).addTo(map_3931fc8135accf067a2305835f1e9f95);
        
    
        var popup_76df6661635aaa854c6fe823ee9c4d39 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e12b9885f0aef597730695336205162c = $(`<div id="html_e12b9885f0aef597730695336205162c" style="width: 100.0%; height: 100.0%;">title: ARGENTINA.  The ERP bombed three foreign businesses in Buenos Aires.,   date: 971-5-3,</div>`)[0];
                popup_76df6661635aaa854c6fe823ee9c4d39.setContent(html_e12b9885f0aef597730695336205162c);
            
        

        marker_620b2df195df4c8612cbbe049a8fe6ec.bindPopup(popup_76df6661635aaa854c6fe823ee9c4d39)
        ;

        
    
    
            var marker_12d8bed30529fff22208b150fe388be8 = L.marker(
                [-64.0, -64.0],
                {
}
            ).addTo(map_3931fc8135accf067a2305835f1e9f95);
        
    
        var popup_0b9b7956ebfc323ccee44b8def061a69 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_14edd3c81cdcb1a8eeed57461abf8fd5 = $(`<div id="html_14edd3c81cdcb1a8eeed57461abf8fd5" style="width: 100.0%; height: 100.0%;">title: ARGENTINA.  The ERP bombed three foreign businesses in Buenos Aires.,   date: 971-5-3,</div>`)[0];
                popup_0b9b7956ebfc323ccee44b8def061a69.setContent(html_14edd3c81cdcb1a8eeed57461abf8fd5);
            
        

        marker_12d8bed30529fff22208b150fe388be8.bindPopup(popup_0b9b7956ebfc323ccee44b8def061a69)
        ;

        
    
    
            var marker_a6beca41e193ba550079496992529646 = L.marker(
                [-64.0, -64.0],
                {
}
            ).addTo(map_3931fc8135accf067a2305835f1e9f95);
        
    
        var popup_b3ec97e53b685dcc05aff22a5255c6b7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_dcad5c19963801ea86d24f575b9c7a0e = $(`<div id="html_dcad5c19963801ea86d24f575b9c7a0e" style="width: 100.0%; height: 100.0%;">title: ARGENTINA.  The U.S.  Information Service library in Buenos Aires was bombed.,   date: 969-10-7,</div>`)[0];
                popup_b3ec97e53b685dcc05aff22a5255c6b7.setContent(html_dcad5c19963801ea86d24f575b9c7a0e);
            
        

        marker_a6beca41e193ba550079496992529646.bindPopup(popup_b3ec97e53b685dcc05aff22a5255c6b7)
        ;

        
    
    
            var marker_6c2487da8a691904e56b0eea14ca66ee = L.marker(
                [-64.0, -64.0],
                {
}
            ).addTo(map_3931fc8135accf067a2305835f1e9f95);
        
    
        var popup_d13e2924fa0b8d5dbd71f3c37d313526 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_92b92546557704f62068280198a8c61a = $(`<div id="html_92b92546557704f62068280198a8c61a" style="width: 100.0%; height: 100.0%;">title: ARGENTINA.  An office of Remington Rand was bombed in Santa Fe.,   date: 969-10-8,</div>`)[0];
                popup_d13e2924fa0b8d5dbd71f3c37d313526.setContent(html_92b92546557704f62068280198a8c61a);
            
        

        marker_6c2487da8a691904e56b0eea14ca66ee.bindPopup(popup_d13e2924fa0b8d5dbd71f3c37d313526)
        ;

        
    
    
            var marker_95025d6b17482070b92f1086b502629d = L.marker(
                [-64.0, -64.0],
                {
}
            ).addTo(map_3931fc8135accf067a2305835f1e9f95);
        
    
        var popup_98baa07ef00b805eb44758efb1926aa9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c46f2531f0ad258659d534f82968e811 = $(`<div id="html_c46f2531f0ad258659d534f82968e811" style="width: 100.0%; height: 100.0%;">title: ARGENTINA.  An Argentina executive of the Surrey Company, which operates under a license from General Motors Corporation, was shot and killed in Buenos Aires.   Anonymous callers to Buenos Aires newspapers claimed the Montoneros were responsible for the killing.,   date: 977-4-11,</div>`)[0];
                popup_98baa07ef00b805eb44758efb1926aa9.setContent(html_c46f2531f0ad258659d534f82968e811);
            
        

        marker_95025d6b17482070b92f1086b502629d.bindPopup(popup_98baa07ef00b805eb44758efb1926aa9)
        ;

        
    
    
            var marker_e5e97fb4817a18d46eaba35d470c4c20 = L.marker(
                [-64.0, -64.0],
                {
}
            ).addTo(map_3931fc8135accf067a2305835f1e9f95);
        
    
        var popup_0ab52ec86a6493b1b93f22d0183d9ce1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6bb2178f6534af8341321099a5b79643 = $(`<div id="html_6bb2178f6534af8341321099a5b79643" style="width: 100.0%; height: 100.0%;">title: ARGENTINA.  A small bomb exploded at the USIS Binational Center in Mendoza.,   date: 970-9-7,</div>`)[0];
                popup_0ab52ec86a6493b1b93f22d0183d9ce1.setContent(html_6bb2178f6534af8341321099a5b79643);
            
        

        marker_e5e97fb4817a18d46eaba35d470c4c20.bindPopup(popup_0ab52ec86a6493b1b93f22d0183d9ce1)
        ;

        
    
    
            var marker_b9716500e0fe9b8c6629eff18528273a = L.marker(
                [-64.0, -64.0],
                {
}
            ).addTo(map_3931fc8135accf067a2305835f1e9f95);
        
    
        var popup_b22ad569fcbabceca30d79ba9dc8da3c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b7dd1a2203828d81c5b6dbb08fc99e07 = $(`<div id="html_b7dd1a2203828d81c5b6dbb08fc99e07" style="width: 100.0%; height: 100.0%;">title: ARGENTINA.  A bomb exploded in front of the Chilean consulate in Comodoro Rivadavia.,   date: 978-12-14,</div>`)[0];
                popup_b22ad569fcbabceca30d79ba9dc8da3c.setContent(html_b7dd1a2203828d81c5b6dbb08fc99e07);
            
        

        marker_b9716500e0fe9b8c6629eff18528273a.bindPopup(popup_b22ad569fcbabceca30d79ba9dc8da3c)
        ;

        
    
    
            var marker_0471c376a26ac653d5cb536cd55a2546 = L.marker(
                [-64.0, -64.0],
                {
}
            ).addTo(map_3931fc8135accf067a2305835f1e9f95);
        
    
        var popup_1f55f8286d57c9ab011250c8ca666c59 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_808fa5e70938ce58b7e07d063863b49b = $(`<div id="html_808fa5e70938ce58b7e07d063863b49b" style="width: 100.0%; height: 100.0%;">title: ARGENTINA.  Bombs exploded at the homes of two U.S.  officials in Buenos Aires.,   date: 970-10-20,</div>`)[0];
                popup_1f55f8286d57c9ab011250c8ca666c59.setContent(html_808fa5e70938ce58b7e07d063863b49b);
            
        

        marker_0471c376a26ac653d5cb536cd55a2546.bindPopup(popup_1f55f8286d57c9ab011250c8ca666c59)
        ;

        
    
    
            var marker_60e8aca0538d09991b5c053048a087d5 = L.marker(
                [-64.0, -64.0],
                {
}
            ).addTo(map_3931fc8135accf067a2305835f1e9f95);
        
    
        var popup_3d1da4677dafaa6a9e3808a5b6978088 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_43f78faa3728d6e894ceb238cec5b9d9 = $(`<div id="html_43f78faa3728d6e894ceb238cec5b9d9" style="width: 100.0%; height: 100.0%;">title: ARGENTINA.  The USIS Lincoln Library in Buenos Aires was extensively damaged by a firebomb.,   date: 971-7-9,</div>`)[0];
                popup_3d1da4677dafaa6a9e3808a5b6978088.setContent(html_43f78faa3728d6e894ceb238cec5b9d9);
            
        

        marker_60e8aca0538d09991b5c053048a087d5.bindPopup(popup_3d1da4677dafaa6a9e3808a5b6978088)
        ;

        
    
</script>
</html>