<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4130fcf7a342f11f60a913c57d6950a0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_4130fcf7a342f11f60a913c57d6950a0" ></div>
        
</body>
<script>
    
    
            var map_4130fcf7a342f11f60a913c57d6950a0 = L.map(
                "map_4130fcf7a342f11f60a913c57d6950a0",
                {
                    center: [-37.813187, 144.96298],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 10,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_e96e93941c9cb6dea78bee84ca384774 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_e96e93941c9cb6dea78bee84ca384774.addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
            var marker_e5bc45ff74c3c4690cfd82cabf1a5fea = L.marker(
                [-37.813187, 144.96298],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_82448bdb5be305e2b7b72af3b7523fc2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_98f2b7cefbb2091e1fe1866640a55dd3 = $(`<div id="html_98f2b7cefbb2091e1fe1866640a55dd3" style="width: 100.0%; height: 100.0%;">region: Australasia & Oceania, group_name: Croatian Nationalists, num_attacks: 1</div>`)[0];
                popup_82448bdb5be305e2b7b72af3b7523fc2.setContent(html_98f2b7cefbb2091e1fe1866640a55dd3);
            
        

        marker_e5bc45ff74c3c4690cfd82cabf1a5fea.bindPopup(popup_82448bdb5be305e2b7b72af3b7523fc2)
        ;

        
    
    
            var marker_b26098be84b23d2f6ef860a31b89ed9b = L.marker(
                [18.456792, -69.951164],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_201448d01f3f92723dab3d26596b0734 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_642c2813fc83b05b18876f0568cd7759 = $(`<div id="html_642c2813fc83b05b18876f0568cd7759" style="width: 100.0%; height: 100.0%;">region: Central America & Caribbean, group_name: Tony El Pelou Band, num_attacks: 2</div>`)[0];
                popup_201448d01f3f92723dab3d26596b0734.setContent(html_642c2813fc83b05b18876f0568cd7759);
            
        

        marker_b26098be84b23d2f6ef860a31b89ed9b.bindPopup(popup_201448d01f3f92723dab3d26596b0734)
        ;

        
    
    
            var marker_40eeb94716ebb373349e14c417ed71a2 = L.marker(
                [14.622869, -90.529068],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_9b60506aa9ecebada6bceb1a9f92b89a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_157cf12e52c7e6f36fc4a4f328f5bdcc = $(`<div id="html_157cf12e52c7e6f36fc4a4f328f5bdcc" style="width: 100.0%; height: 100.0%;">region: Central America & Caribbean, group_name: Rebel Armed Forces of Guatemala (FAR), num_attacks: 2</div>`)[0];
                popup_9b60506aa9ecebada6bceb1a9f92b89a.setContent(html_157cf12e52c7e6f36fc4a4f328f5bdcc);
            
        

        marker_40eeb94716ebb373349e14c417ed71a2.bindPopup(popup_9b60506aa9ecebada6bceb1a9f92b89a)
        ;

        
    
    
            var marker_f19867289d0e884703ba0492c815924d = L.marker(
                [18.456792, -69.951164],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_65e7341c7187e9c1cc280800832232a1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_00013dfdd96af389e56d8f580e6c3118 = $(`<div id="html_00013dfdd96af389e56d8f580e6c3118" style="width: 100.0%; height: 100.0%;">region: Central America & Caribbean, group_name: Dominican Popular Movement (MPD), num_attacks: 1</div>`)[0];
                popup_65e7341c7187e9c1cc280800832232a1.setContent(html_00013dfdd96af389e56d8f580e6c3118);
            
        

        marker_f19867289d0e884703ba0492c815924d.bindPopup(popup_65e7341c7187e9c1cc280800832232a1)
        ;

        
    
    
            var marker_9aad5259d37c1b477c012d28b39217ab = L.marker(
                [9.933333, -84.083333],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_ae2c5b27bf80f9eaff76fa9319f6f83f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ddd84fc799663b911a8bef35858c44fa = $(`<div id="html_ddd84fc799663b911a8bef35858c44fa" style="width: 100.0%; height: 100.0%;">region: Central America & Caribbean, group_name: Unknown, num_attacks: 1</div>`)[0];
                popup_ae2c5b27bf80f9eaff76fa9319f6f83f.setContent(html_ddd84fc799663b911a8bef35858c44fa);
            
        

        marker_9aad5259d37c1b477c012d28b39217ab.bindPopup(popup_ae2c5b27bf80f9eaff76fa9319f6f83f)
        ;

        
    
    
            var marker_3ee48b41fb775da6e64c2da6b1cd9cb8 = L.marker(
                [18.456792, -69.951164],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_abbb19ac84130f1c43b6b3ffe9a681ab = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2af472e3ddee1de4df3ded146dad62ea = $(`<div id="html_2af472e3ddee1de4df3ded146dad62ea" style="width: 100.0%; height: 100.0%;">region: Central America & Caribbean, group_name: MANO-D, num_attacks: 1</div>`)[0];
                popup_abbb19ac84130f1c43b6b3ffe9a681ab.setContent(html_2af472e3ddee1de4df3ded146dad62ea);
            
        

        marker_3ee48b41fb775da6e64c2da6b1cd9cb8.bindPopup(popup_abbb19ac84130f1c43b6b3ffe9a681ab)
        ;

        
    
    
            var marker_8d3ce9849cfa57e98835b7f543590641 = L.marker(
                [33.580412, 130.396361],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_f088f22c92c38ecd81aef139dff2d861 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_eee4a9eb1105fbb83f82c5aa7ff100ef = $(`<div id="html_eee4a9eb1105fbb83f82c5aa7ff100ef" style="width: 100.0%; height: 100.0%;">region: East Asia, group_name: Japanese Red Army (JRA), num_attacks: 1</div>`)[0];
                popup_f088f22c92c38ecd81aef139dff2d861.setContent(html_eee4a9eb1105fbb83f82c5aa7ff100ef);
            
        

        marker_8d3ce9849cfa57e98835b7f543590641.bindPopup(popup_f088f22c92c38ecd81aef139dff2d861)
        ;

        
    
    
            var marker_4a021407f9fe2e947cdecfce8192c66b = L.marker(
                [33.580412, 130.396361],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_163a98211babd4b887a592f285dd5de3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_89e3b33b2116fe5aa62a9af4c0a4d771 = $(`<div id="html_89e3b33b2116fe5aa62a9af4c0a4d771" style="width: 100.0%; height: 100.0%;">region: East Asia, group_name: Unknown, num_attacks: 1</div>`)[0];
                popup_163a98211babd4b887a592f285dd5de3.setContent(html_89e3b33b2116fe5aa62a9af4c0a4d771);
            
        

        marker_4a021407f9fe2e947cdecfce8192c66b.bindPopup(popup_163a98211babd4b887a592f285dd5de3)
        ;

        
    
    
            var marker_0151ba8d35cb082c8e502fe937c7d841 = L.marker(
                [52.50153, 13.401851],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_51e8eb74109d28ee8f916964883f3974 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cbe5b7f232b49647de6a341b2587a2b6 = $(`<div id="html_cbe5b7f232b49647de6a341b2587a2b6" style="width: 100.0%; height: 100.0%;">region: Eastern Europe, group_name: Unknown, num_attacks: 11</div>`)[0];
                popup_51e8eb74109d28ee8f916964883f3974.setContent(html_cbe5b7f232b49647de6a341b2587a2b6);
            
        

        marker_0151ba8d35cb082c8e502fe937c7d841.bindPopup(popup_51e8eb74109d28ee8f916964883f3974)
        ;

        
    
    
            var marker_4b4dae442f8c4aa949f32673e19a551e = L.marker(
                [52.50153, 13.401851],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_ae92ebe063ab41a7e66fcecea21e8292 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7915702742e2f81da9171627b3be6fe4 = $(`<div id="html_7915702742e2f81da9171627b3be6fe4" style="width: 100.0%; height: 100.0%;">region: Eastern Europe, group_name: Extraparliamentary Opposition (APO), num_attacks: 3</div>`)[0];
                popup_ae92ebe063ab41a7e66fcecea21e8292.setContent(html_7915702742e2f81da9171627b3be6fe4);
            
        

        marker_4b4dae442f8c4aa949f32673e19a551e.bindPopup(popup_ae92ebe063ab41a7e66fcecea21e8292)
        ;

        
    
    
            var marker_07a44342e672cf0fce015ed97b881515 = L.marker(
                [52.50153, 13.401851],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_bc90edb7507f2a4e93ea33dd1c1e8619 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_74947d4f52dffc7fa1e927a552ce29a3 = $(`<div id="html_74947d4f52dffc7fa1e927a552ce29a3" style="width: 100.0%; height: 100.0%;">region: Eastern Europe, group_name: SFT, num_attacks: 1</div>`)[0];
                popup_bc90edb7507f2a4e93ea33dd1c1e8619.setContent(html_74947d4f52dffc7fa1e927a552ce29a3);
            
        

        marker_07a44342e672cf0fce015ed97b881515.bindPopup(popup_bc90edb7507f2a4e93ea33dd1c1e8619)
        ;

        
    
    
            var marker_c118ccd5715b2422ef77b3066a5a758f = L.marker(
                [52.50153, 13.401851],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_cb434f65f79a2027af02e3d5296ab1ed = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_19f56886c9d7e40f4de41350623b0c3c = $(`<div id="html_19f56886c9d7e40f4de41350623b0c3c" style="width: 100.0%; height: 100.0%;">region: Eastern Europe, group_name: Commune 1, num_attacks: 1</div>`)[0];
                popup_cb434f65f79a2027af02e3d5296ab1ed.setContent(html_19f56886c9d7e40f4de41350623b0c3c);
            
        

        marker_c118ccd5715b2422ef77b3066a5a758f.bindPopup(popup_cb434f65f79a2027af02e3d5296ab1ed)
        ;

        
    
    
            var marker_0cb086e99f50c200bd03b7688f9901db = L.marker(
                [39.930771, 32.76754],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_043c6ca8eeaf076f50931864a18e7c0d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a540433a4ca6443c954ea630e901aff9 = $(`<div id="html_a540433a4ca6443c954ea630e901aff9" style="width: 100.0%; height: 100.0%;">region: Middle East & North Africa, group_name: Turkish People's Liberation Army, num_attacks: 22</div>`)[0];
                popup_043c6ca8eeaf076f50931864a18e7c0d.setContent(html_a540433a4ca6443c954ea630e901aff9);
            
        

        marker_0cb086e99f50c200bd03b7688f9901db.bindPopup(popup_043c6ca8eeaf076f50931864a18e7c0d)
        ;

        
    
    
            var marker_5be4731e701a247abcf765b010d640fc = L.marker(
                [39.930771, 32.76754],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_130459ab50f2bc4a0ce91e962092b7e0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_30fc2f1c53a0bcf1c0a528f4de3b9f48 = $(`<div id="html_30fc2f1c53a0bcf1c0a528f4de3b9f48" style="width: 100.0%; height: 100.0%;">region: Middle East & North Africa, group_name: Unknown, num_attacks: 8</div>`)[0];
                popup_130459ab50f2bc4a0ce91e962092b7e0.setContent(html_30fc2f1c53a0bcf1c0a528f4de3b9f48);
            
        

        marker_5be4731e701a247abcf765b010d640fc.bindPopup(popup_130459ab50f2bc4a0ce91e962092b7e0)
        ;

        
    
    
            var marker_c3b462947349548137b0c91659d8dcda = L.marker(
                [35.724533, 51.40519],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_a2e1a116208d0bdd86388eddb003d8e2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_39794913c405d6591de242be5f4ebcfd = $(`<div id="html_39794913c405d6591de242be5f4ebcfd" style="width: 100.0%; height: 100.0%;">region: Middle East & North Africa, group_name: Unknown, num_attacks: 6</div>`)[0];
                popup_a2e1a116208d0bdd86388eddb003d8e2.setContent(html_39794913c405d6591de242be5f4ebcfd);
            
        

        marker_c3b462947349548137b0c91659d8dcda.bindPopup(popup_a2e1a116208d0bdd86388eddb003d8e2)
        ;

        
    
    
            var marker_cfcf1bd33c5013842738495578f0376f = L.marker(
                [31.950001, 35.933331],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_63f54e20507422c361f8562fe47663d3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fc666127253f4207d83b8412892806e7 = $(`<div id="html_fc666127253f4207d83b8412892806e7" style="width: 100.0%; height: 100.0%;">region: Middle East & North Africa, group_name: Popular Front for the Liberation of Palestine (PFLP), num_attacks: 5</div>`)[0];
                popup_63f54e20507422c361f8562fe47663d3.setContent(html_fc666127253f4207d83b8412892806e7);
            
        

        marker_cfcf1bd33c5013842738495578f0376f.bindPopup(popup_63f54e20507422c361f8562fe47663d3)
        ;

        
    
    
            var marker_47324e6a10aea012296c545f39c654b3 = L.marker(
                [41.106178, 28.689863],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_c06a6d85818719f335cd26b0f83645e1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5d09b2374b542af9f966cbc823cd6444 = $(`<div id="html_5d09b2374b542af9f966cbc823cd6444" style="width: 100.0%; height: 100.0%;">region: Middle East & North Africa, group_name: Turkish People's Liberation Army, num_attacks: 4</div>`)[0];
                popup_c06a6d85818719f335cd26b0f83645e1.setContent(html_5d09b2374b542af9f966cbc823cd6444);
            
        

        marker_47324e6a10aea012296c545f39c654b3.bindPopup(popup_c06a6d85818719f335cd26b0f83645e1)
        ;

        
    
    
            var marker_a9c1df68522e6592ab024f8cbb574791 = L.marker(
                [40.697132, -73.931351],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_02d2b8c2a55a3f7a55c114b1cb8b4f29 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3801256c6e7dcd227eb19279c90d41a5 = $(`<div id="html_3801256c6e7dcd227eb19279c90d41a5" style="width: 100.0%; height: 100.0%;">region: North America, group_name: Unknown, num_attacks: 22</div>`)[0];
                popup_02d2b8c2a55a3f7a55c114b1cb8b4f29.setContent(html_3801256c6e7dcd227eb19279c90d41a5);
            
        

        marker_a9c1df68522e6592ab024f8cbb574791.bindPopup(popup_02d2b8c2a55a3f7a55c114b1cb8b4f29)
        ;

        
    
    
            var marker_7262a1d0d6edf4a85745fb8c55ce53c8 = L.marker(
                [40.697132, -73.931351],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_7e1afbd7060db0f9d12d699d28607533 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_04ce1d5d026eeb64b4d01761d730a805 = $(`<div id="html_04ce1d5d026eeb64b4d01761d730a805" style="width: 100.0%; height: 100.0%;">region: North America, group_name: Left-Wing Militants, num_attacks: 21</div>`)[0];
                popup_7e1afbd7060db0f9d12d699d28607533.setContent(html_04ce1d5d026eeb64b4d01761d730a805);
            
        

        marker_7262a1d0d6edf4a85745fb8c55ce53c8.bindPopup(popup_7e1afbd7060db0f9d12d699d28607533)
        ;

        
    
    
            var marker_a553e6ef9446f2c5403035b817052485 = L.marker(
                [34.097866, -118.407379],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_56cadd6a40295700882f4e50152e7e53 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1e6769e685e39bd56cfe613948019994 = $(`<div id="html_1e6769e685e39bd56cfe613948019994" style="width: 100.0%; height: 100.0%;">region: North America, group_name: Chicano Liberation Front, num_attacks: 20</div>`)[0];
                popup_56cadd6a40295700882f4e50152e7e53.setContent(html_1e6769e685e39bd56cfe613948019994);
            
        

        marker_a553e6ef9446f2c5403035b817052485.bindPopup(popup_56cadd6a40295700882f4e50152e7e53)
        ;

        
    
    
            var marker_78124bc4104081dba266d078b94988f3 = L.marker(
                [40.697132, -73.931351],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_9da1e92293a01416984beae7e8391b26 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3ed780d628f8cd4a5859702c48a5a675 = $(`<div id="html_3ed780d628f8cd4a5859702c48a5a675" style="width: 100.0%; height: 100.0%;">region: North America, group_name: Armed Revolutionary Independence Movement (MIRA), num_attacks: 16</div>`)[0];
                popup_9da1e92293a01416984beae7e8391b26.setContent(html_3ed780d628f8cd4a5859702c48a5a675);
            
        

        marker_78124bc4104081dba266d078b94988f3.bindPopup(popup_9da1e92293a01416984beae7e8391b26)
        ;

        
    
    
            var marker_b1121506ac86bc87adf052fe57468a24 = L.marker(
                [40.697132, -73.931351],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_3e1b9f8d23f7f7281806e85da309902c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c66a2c13eccfea0cb290b0d4ca7832a6 = $(`<div id="html_c66a2c13eccfea0cb290b0d4ca7832a6" style="width: 100.0%; height: 100.0%;">region: North America, group_name: Jewish Defense League (JDL), num_attacks: 11</div>`)[0];
                popup_3e1b9f8d23f7f7281806e85da309902c.setContent(html_c66a2c13eccfea0cb290b0d4ca7832a6);
            
        

        marker_b1121506ac86bc87adf052fe57468a24.bindPopup(popup_3e1b9f8d23f7f7281806e85da309902c)
        ;

        
    
    
            var marker_94ef7052499d80fa675113811e8859ee = L.marker(
                [-34.891151, -56.187214],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_cb4d4cc292f76cc0dbf8c60f72190283 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6673bcdd6e53b924df8dd835ea78e9c9 = $(`<div id="html_6673bcdd6e53b924df8dd835ea78e9c9" style="width: 100.0%; height: 100.0%;">region: South America, group_name: Tupamaros (Uruguay), num_attacks: 41</div>`)[0];
                popup_cb4d4cc292f76cc0dbf8c60f72190283.setContent(html_6673bcdd6e53b924df8dd835ea78e9c9);
            
        

        marker_94ef7052499d80fa675113811e8859ee.bindPopup(popup_cb4d4cc292f76cc0dbf8c60f72190283)
        ;

        
    
    
            var marker_80e9fe4105c918ff81ee2757fe0cca27 = L.marker(
                [-34.61768, -58.444435],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_f4c06aa02cc11e5decb4f5461b090a98 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0db2a6aa999fc223d50dc41f5ebdc189 = $(`<div id="html_0db2a6aa999fc223d50dc41f5ebdc189" style="width: 100.0%; height: 100.0%;">region: South America, group_name: Unknown, num_attacks: 4</div>`)[0];
                popup_f4c06aa02cc11e5decb4f5461b090a98.setContent(html_0db2a6aa999fc223d50dc41f5ebdc189);
            
        

        marker_80e9fe4105c918ff81ee2757fe0cca27.bindPopup(popup_f4c06aa02cc11e5decb4f5461b090a98)
        ;

        
    
    
            var marker_52293eb7f334bc2d89fce356fa60afec = L.marker(
                [-34.61768, -58.444435],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_1b2e55ef07c017993c1558addfa788db = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_dbef77d7d9af4809d3c49708dfab7874 = $(`<div id="html_dbef77d7d9af4809d3c49708dfab7874" style="width: 100.0%; height: 100.0%;">region: South America, group_name: Peronist Armed Forces (FAP), num_attacks: 3</div>`)[0];
                popup_1b2e55ef07c017993c1558addfa788db.setContent(html_dbef77d7d9af4809d3c49708dfab7874);
            
        

        marker_52293eb7f334bc2d89fce356fa60afec.bindPopup(popup_1b2e55ef07c017993c1558addfa788db)
        ;

        
    
    
            var marker_6850fe57b6bd8c32e046219d508bfdbe = L.marker(
                [10.482834, -66.962128],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_89bc44f78f4c30998c27113dba977e28 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_dbea4ffcb1cbe8cfd1045d4a93d26b4e = $(`<div id="html_dbea4ffcb1cbe8cfd1045d4a93d26b4e" style="width: 100.0%; height: 100.0%;">region: South America, group_name: Armed Forces of National Liberation- Venezuela (FALN), num_attacks: 3</div>`)[0];
                popup_89bc44f78f4c30998c27113dba977e28.setContent(html_dbea4ffcb1cbe8cfd1045d4a93d26b4e);
            
        

        marker_6850fe57b6bd8c32e046219d508bfdbe.bindPopup(popup_89bc44f78f4c30998c27113dba977e28)
        ;

        
    
    
            var marker_f43bc70e16ff0abb07cf584ffb80fce7 = L.marker(
                [-31.399301, -64.182129],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_223468c20c20f28169938d6789ff7475 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_061bc8f41e6deb34d03f2f53fd6685eb = $(`<div id="html_061bc8f41e6deb34d03f2f53fd6685eb" style="width: 100.0%; height: 100.0%;">region: South America, group_name: Ejercito Revolucionaria del Pueblo (ERP) (Argentina), num_attacks: 3</div>`)[0];
                popup_223468c20c20f28169938d6789ff7475.setContent(html_061bc8f41e6deb34d03f2f53fd6685eb);
            
        

        marker_f43bc70e16ff0abb07cf584ffb80fce7.bindPopup(popup_223468c20c20f28169938d6789ff7475)
        ;

        
    
    
            var marker_c9d17ca72d31fe40f0e609602dea2e4a = L.marker(
                [24.891115, 67.143311],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_612a4975b8c3ea446b70755264614eee = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f82e635d8e19933de9e3917ce82e65a9 = $(`<div id="html_f82e635d8e19933de9e3917ce82e65a9" style="width: 100.0%; height: 100.0%;">region: South Asia, group_name: Unknown, num_attacks: 1</div>`)[0];
                popup_612a4975b8c3ea446b70755264614eee.setContent(html_f82e635d8e19933de9e3917ce82e65a9);
            
        

        marker_c9d17ca72d31fe40f0e609602dea2e4a.bindPopup(popup_612a4975b8c3ea446b70755264614eee)
        ;

        
    
    
            var marker_2982c97944c47020f0ac8fa7029a5b1e = L.marker(
                [14.596051, 120.978666],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_fa744df4c5840f3e3665e35bb6b61d07 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_48c58b149b8a7e3b995b226962b89478 = $(`<div id="html_48c58b149b8a7e3b995b226962b89478" style="width: 100.0%; height: 100.0%;">region: Southeast Asia, group_name: Unknown, num_attacks: 3</div>`)[0];
                popup_fa744df4c5840f3e3665e35bb6b61d07.setContent(html_48c58b149b8a7e3b995b226962b89478);
            
        

        marker_2982c97944c47020f0ac8fa7029a5b1e.bindPopup(popup_fa744df4c5840f3e3665e35bb6b61d07)
        ;

        
    
    
            var marker_2d9bd7ecac4d2745000186daaf3dcc16 = L.marker(
                [11.558831, 104.917445],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_06fa1b62819cf64fe76ec41e037db426 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e2fe6611e493b717b36fa84a0c4c27fb = $(`<div id="html_e2fe6611e493b717b36fa84a0c4c27fb" style="width: 100.0%; height: 100.0%;">region: Southeast Asia, group_name: Unknown, num_attacks: 2</div>`)[0];
                popup_06fa1b62819cf64fe76ec41e037db426.setContent(html_e2fe6611e493b717b36fa84a0c4c27fb);
            
        

        marker_2d9bd7ecac4d2745000186daaf3dcc16.bindPopup(popup_06fa1b62819cf64fe76ec41e037db426)
        ;

        
    
    
            var marker_36326517ef1f51f9fdbab811dfe53493 = L.marker(
                [15.153002, 120.591942],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_40fd47fd0de144a36cc5457bdda65d6d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6830cde2cf7b1010a4d0ed78b11c71f9 = $(`<div id="html_6830cde2cf7b1010a4d0ed78b11c71f9" style="width: 100.0%; height: 100.0%;">region: Southeast Asia, group_name: Unknown, num_attacks: 2</div>`)[0];
                popup_40fd47fd0de144a36cc5457bdda65d6d.setContent(html_6830cde2cf7b1010a4d0ed78b11c71f9);
            
        

        marker_36326517ef1f51f9fdbab811dfe53493.bindPopup(popup_40fd47fd0de144a36cc5457bdda65d6d)
        ;

        
    
    
            var marker_307063a6277fdee917d6774fee493ff6 = L.marker(
                [14.67428, 121.057495],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_b4be9a522ced2fe279ce60bf9e081a08 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_92817817f93ce56ef92657e9cde6292e = $(`<div id="html_92817817f93ce56ef92657e9cde6292e" style="width: 100.0%; height: 100.0%;">region: Southeast Asia, group_name: Kabataang Makabayan (KM), num_attacks: 1</div>`)[0];
                popup_b4be9a522ced2fe279ce60bf9e081a08.setContent(html_92817817f93ce56ef92657e9cde6292e);
            
        

        marker_307063a6277fdee917d6774fee493ff6.bindPopup(popup_b4be9a522ced2fe279ce60bf9e081a08)
        ;

        
    
    
            var marker_93d76b76c8e87af9ae8a4abc389f7b88 = L.marker(
                [15.185916, 120.54187],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_97f86aae90032dce1d9255baf8c55fb3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3f170572ab16a401a12e2a4b02ac6c7d = $(`<div id="html_3f170572ab16a401a12e2a4b02ac6c7d" style="width: 100.0%; height: 100.0%;">region: Southeast Asia, group_name: New People's Army (NPA), num_attacks: 1</div>`)[0];
                popup_97f86aae90032dce1d9255baf8c55fb3.setContent(html_3f170572ab16a401a12e2a4b02ac6c7d);
            
        

        marker_93d76b76c8e87af9ae8a4abc389f7b88.bindPopup(popup_97f86aae90032dce1d9255baf8c55fb3)
        ;

        
    
    
            var marker_4495663378346a3cabbb5ce2826e0ab2 = L.marker(
                [11.583513, 37.397019],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_3874bcc6aa1ebe49b53cb6dba4e9d683 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0f4bbf76029b2682feefbd961bf420f0 = $(`<div id="html_0f4bbf76029b2682feefbd961bf420f0" style="width: 100.0%; height: 100.0%;">region: Sub-Saharan Africa, group_name: Eritrean Liberation Front, num_attacks: 1</div>`)[0];
                popup_3874bcc6aa1ebe49b53cb6dba4e9d683.setContent(html_0f4bbf76029b2682feefbd961bf420f0);
            
        

        marker_4495663378346a3cabbb5ce2826e0ab2.bindPopup(popup_3874bcc6aa1ebe49b53cb6dba4e9d683)
        ;

        
    
    
            var marker_47de1cdf518b267dcfebe4e02a3a389d = L.marker(
                [54.607712, -5.95621],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_9ad4e3df8bc3b4ecb67b1d560f798854 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_79afefbc632c09023fe19e36bff7ea00 = $(`<div id="html_79afefbc632c09023fe19e36bff7ea00" style="width: 100.0%; height: 100.0%;">region: Western Europe, group_name: Irish Republican Army (IRA), num_attacks: 16</div>`)[0];
                popup_9ad4e3df8bc3b4ecb67b1d560f798854.setContent(html_79afefbc632c09023fe19e36bff7ea00);
            
        

        marker_47de1cdf518b267dcfebe4e02a3a389d.bindPopup(popup_9ad4e3df8bc3b4ecb67b1d560f798854)
        ;

        
    
    
            var marker_cbead590afa3be268c8116d3587b7eeb = L.marker(
                [48.139126, 11.580186],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_2ae731a72c95b3abe8007bd192ea6e98 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4068cf8f7afc66c2f06ed5476450ff09 = $(`<div id="html_4068cf8f7afc66c2f06ed5476450ff09" style="width: 100.0%; height: 100.0%;">region: Western Europe, group_name: Unknown, num_attacks: 9</div>`)[0];
                popup_2ae731a72c95b3abe8007bd192ea6e98.setContent(html_4068cf8f7afc66c2f06ed5476450ff09);
            
        

        marker_cbead590afa3be268c8116d3587b7eeb.bindPopup(popup_2ae731a72c95b3abe8007bd192ea6e98)
        ;

        
    
    
            var marker_f3461a853771f124a8e11ec8418ab721 = L.marker(
                [52.50153, 13.401851],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_770931465b30eb92876af57ba7bc8d12 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ef4c97578314ea7074e0675968db9398 = $(`<div id="html_ef4c97578314ea7074e0675968db9398" style="width: 100.0%; height: 100.0%;">region: Western Europe, group_name: Unknown, num_attacks: 6</div>`)[0];
                popup_770931465b30eb92876af57ba7bc8d12.setContent(html_ef4c97578314ea7074e0675968db9398);
            
        

        marker_f3461a853771f124a8e11ec8418ab721.bindPopup(popup_770931465b30eb92876af57ba7bc8d12)
        ;

        
    
    
            var marker_a12077f81e93c8e1f64ab2e5d875b3e5 = L.marker(
                [54.607712, -5.95621],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_fda0b25ac10b64ecbccb3f7b711ecea4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ae75781b578158acd58fc1b9cb75f5d1 = $(`<div id="html_ae75781b578158acd58fc1b9cb75f5d1" style="width: 100.0%; height: 100.0%;">region: Western Europe, group_name: Irish Republican Extremists, num_attacks: 3</div>`)[0];
                popup_fda0b25ac10b64ecbccb3f7b711ecea4.setContent(html_ae75781b578158acd58fc1b9cb75f5d1);
            
        

        marker_a12077f81e93c8e1f64ab2e5d875b3e5.bindPopup(popup_fda0b25ac10b64ecbccb3f7b711ecea4)
        ;

        
    
    
            var marker_dc5a4b4e5dedc02199c7b5f9375d3f97 = L.marker(
                [52.50153, 13.401851],
                {
}
            ).addTo(map_4130fcf7a342f11f60a913c57d6950a0);
        
    
        var popup_755ca21894d0505f48a2ebc4d35bedcb = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6e9668e00d56cca0378cc1e2d53c22af = $(`<div id="html_6e9668e00d56cca0378cc1e2d53c22af" style="width: 100.0%; height: 100.0%;">region: Western Europe, group_name: Extraparliamentary Opposition (APO), num_attacks: 3</div>`)[0];
                popup_755ca21894d0505f48a2ebc4d35bedcb.setContent(html_6e9668e00d56cca0378cc1e2d53c22af);
            
        

        marker_dc5a4b4e5dedc02199c7b5f9375d3f97.bindPopup(popup_755ca21894d0505f48a2ebc4d35bedcb)
        ;

        
    
</script>
</html>