<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9c6e01da05782abcf882ddd54aa7c96e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9c6e01da05782abcf882ddd54aa7c96e" ></div>
        
</body>
<script>
    
    
            var map_9c6e01da05782abcf882ddd54aa7c96e = L.map(
                "map_9c6e01da05782abcf882ddd54aa7c96e",
                {
                    center: [-37.813187, 144.96298],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 10,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_9759066f7928643fd6f5c3b974487d3d = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_9759066f7928643fd6f5c3b974487d3d.addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
            var marker_2b9cca667ebd2ac578837ead44b41738 = L.marker(
                [-37.813187, 144.96298],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_5b9ec9a298feed7a88f42b8bc98f1e88 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fa6b9ccd6c546db69a081f29850f388d = $(`<div id="html_fa6b9ccd6c546db69a081f29850f388d" style="width: 100.0%; height: 100.0%;">region: Australasia & Oceania, group_name: Croatian Nationalists, num_attacks: 1</div>`)[0];
                popup_5b9ec9a298feed7a88f42b8bc98f1e88.setContent(html_fa6b9ccd6c546db69a081f29850f388d);
            
        

        marker_2b9cca667ebd2ac578837ead44b41738.bindPopup(popup_5b9ec9a298feed7a88f42b8bc98f1e88)
        ;

        
    
    
            var marker_4b10aea919d8fbcb9bb16fcd440f252c = L.marker(
                [18.456792, -69.951164],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_9dac8f9310218026b7d48579cc728882 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bc2457dd527691fc95f97c4f5781d025 = $(`<div id="html_bc2457dd527691fc95f97c4f5781d025" style="width: 100.0%; height: 100.0%;">region: Central America & Caribbean, group_name: Tony El Pelou Band, num_attacks: 2</div>`)[0];
                popup_9dac8f9310218026b7d48579cc728882.setContent(html_bc2457dd527691fc95f97c4f5781d025);
            
        

        marker_4b10aea919d8fbcb9bb16fcd440f252c.bindPopup(popup_9dac8f9310218026b7d48579cc728882)
        ;

        
    
    
            var marker_e767186ad50c49142465d80bce07860b = L.marker(
                [14.622869, -90.529068],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_813c6c2ecda10ecbd50a17fc341b871b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c63160b9b95847e74aa246899094a5a2 = $(`<div id="html_c63160b9b95847e74aa246899094a5a2" style="width: 100.0%; height: 100.0%;">region: Central America & Caribbean, group_name: Rebel Armed Forces of Guatemala (FAR), num_attacks: 2</div>`)[0];
                popup_813c6c2ecda10ecbd50a17fc341b871b.setContent(html_c63160b9b95847e74aa246899094a5a2);
            
        

        marker_e767186ad50c49142465d80bce07860b.bindPopup(popup_813c6c2ecda10ecbd50a17fc341b871b)
        ;

        
    
    
            var marker_a5d0cfe4b991204e944afc766ce7b21f = L.marker(
                [18.456792, -69.951164],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_9605467f63a75f00d01aec1c0ce2f0f2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ec08cde9ed1282ced9c1150152162826 = $(`<div id="html_ec08cde9ed1282ced9c1150152162826" style="width: 100.0%; height: 100.0%;">region: Central America & Caribbean, group_name: Dominican Popular Movement (MPD), num_attacks: 1</div>`)[0];
                popup_9605467f63a75f00d01aec1c0ce2f0f2.setContent(html_ec08cde9ed1282ced9c1150152162826);
            
        

        marker_a5d0cfe4b991204e944afc766ce7b21f.bindPopup(popup_9605467f63a75f00d01aec1c0ce2f0f2)
        ;

        
    
    
            var marker_2d65de0155270530fe0acbf0ee4824c1 = L.marker(
                [9.933333, -84.083333],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_62601c48222e7d3c9c49ae7ed5fb2d11 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8bf9c6044271e2c3d9510c42df83b78c = $(`<div id="html_8bf9c6044271e2c3d9510c42df83b78c" style="width: 100.0%; height: 100.0%;">region: Central America & Caribbean, group_name: Unknown, num_attacks: 1</div>`)[0];
                popup_62601c48222e7d3c9c49ae7ed5fb2d11.setContent(html_8bf9c6044271e2c3d9510c42df83b78c);
            
        

        marker_2d65de0155270530fe0acbf0ee4824c1.bindPopup(popup_62601c48222e7d3c9c49ae7ed5fb2d11)
        ;

        
    
    
            var marker_a9ea2bdeaea93834896c93bbc87f6948 = L.marker(
                [18.456792, -69.951164],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_28319d1615bf719ccb726e82c21891a5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_32f19b18b7094b7f0fad603676b1b39e = $(`<div id="html_32f19b18b7094b7f0fad603676b1b39e" style="width: 100.0%; height: 100.0%;">region: Central America & Caribbean, group_name: MANO-D, num_attacks: 1</div>`)[0];
                popup_28319d1615bf719ccb726e82c21891a5.setContent(html_32f19b18b7094b7f0fad603676b1b39e);
            
        

        marker_a9ea2bdeaea93834896c93bbc87f6948.bindPopup(popup_28319d1615bf719ccb726e82c21891a5)
        ;

        
    
    
            var marker_ca657554e2890e7d013bf995d17b91b4 = L.marker(
                [33.580412, 130.396361],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_de11ee80c5dd5cdc54260f0af78eb6a9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_54ce746ba1f18d6ef0cba135314780f3 = $(`<div id="html_54ce746ba1f18d6ef0cba135314780f3" style="width: 100.0%; height: 100.0%;">region: East Asia, group_name: Japanese Red Army (JRA), num_attacks: 1</div>`)[0];
                popup_de11ee80c5dd5cdc54260f0af78eb6a9.setContent(html_54ce746ba1f18d6ef0cba135314780f3);
            
        

        marker_ca657554e2890e7d013bf995d17b91b4.bindPopup(popup_de11ee80c5dd5cdc54260f0af78eb6a9)
        ;

        
    
    
            var marker_178fcc2c81a8c1be910d57caea5ab005 = L.marker(
                [33.580412, 130.396361],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_cb81f851c32930d3874278f1b9b052b0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0b30ad66ad574d1f4052b4327c38f34a = $(`<div id="html_0b30ad66ad574d1f4052b4327c38f34a" style="width: 100.0%; height: 100.0%;">region: East Asia, group_name: Unknown, num_attacks: 1</div>`)[0];
                popup_cb81f851c32930d3874278f1b9b052b0.setContent(html_0b30ad66ad574d1f4052b4327c38f34a);
            
        

        marker_178fcc2c81a8c1be910d57caea5ab005.bindPopup(popup_cb81f851c32930d3874278f1b9b052b0)
        ;

        
    
    
            var marker_13ebc07218357146a0ad37b9ba721e8b = L.marker(
                [52.50153, 13.401851],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_cd5753d9542685d9649319ba83b08037 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_74d4616d9b216570fd0718d2b72f701f = $(`<div id="html_74d4616d9b216570fd0718d2b72f701f" style="width: 100.0%; height: 100.0%;">region: Eastern Europe, group_name: Unknown, num_attacks: 11</div>`)[0];
                popup_cd5753d9542685d9649319ba83b08037.setContent(html_74d4616d9b216570fd0718d2b72f701f);
            
        

        marker_13ebc07218357146a0ad37b9ba721e8b.bindPopup(popup_cd5753d9542685d9649319ba83b08037)
        ;

        
    
    
            var marker_ca629a95e3c57c73b24550f008c4d309 = L.marker(
                [52.50153, 13.401851],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_8ea3facb3d05cc3c76ef78a2b5c26576 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d1b083bcf4d9fbabb866ab955e50f954 = $(`<div id="html_d1b083bcf4d9fbabb866ab955e50f954" style="width: 100.0%; height: 100.0%;">region: Eastern Europe, group_name: Extraparliamentary Opposition (APO), num_attacks: 3</div>`)[0];
                popup_8ea3facb3d05cc3c76ef78a2b5c26576.setContent(html_d1b083bcf4d9fbabb866ab955e50f954);
            
        

        marker_ca629a95e3c57c73b24550f008c4d309.bindPopup(popup_8ea3facb3d05cc3c76ef78a2b5c26576)
        ;

        
    
    
            var marker_70d62fdc0dffb1b8dff68c2d1b08e120 = L.marker(
                [52.50153, 13.401851],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_82be3a6597b0b8e446ec4f5781eeacfd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cae5aca24aad41e9047f0d80184c3c4a = $(`<div id="html_cae5aca24aad41e9047f0d80184c3c4a" style="width: 100.0%; height: 100.0%;">region: Eastern Europe, group_name: SFT, num_attacks: 1</div>`)[0];
                popup_82be3a6597b0b8e446ec4f5781eeacfd.setContent(html_cae5aca24aad41e9047f0d80184c3c4a);
            
        

        marker_70d62fdc0dffb1b8dff68c2d1b08e120.bindPopup(popup_82be3a6597b0b8e446ec4f5781eeacfd)
        ;

        
    
    
            var marker_88b78a97fbe1c8bf2b59832bc47ad27f = L.marker(
                [52.50153, 13.401851],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_3321d7a52e4003cb89d6183fa832081d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_86acc3b3accf829b6c6f090bbc2f08cd = $(`<div id="html_86acc3b3accf829b6c6f090bbc2f08cd" style="width: 100.0%; height: 100.0%;">region: Eastern Europe, group_name: Commune 1, num_attacks: 1</div>`)[0];
                popup_3321d7a52e4003cb89d6183fa832081d.setContent(html_86acc3b3accf829b6c6f090bbc2f08cd);
            
        

        marker_88b78a97fbe1c8bf2b59832bc47ad27f.bindPopup(popup_3321d7a52e4003cb89d6183fa832081d)
        ;

        
    
    
            var marker_210cd2646ebfcb58b9a324b8f22cfa2c = L.marker(
                [39.930771, 32.76754],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_bc8af8765567a9a159ea7e334136f045 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_eb273bcf88febec5fa87cf4ce78c503c = $(`<div id="html_eb273bcf88febec5fa87cf4ce78c503c" style="width: 100.0%; height: 100.0%;">region: Middle East & North Africa, group_name: Turkish People's Liberation Army, num_attacks: 22</div>`)[0];
                popup_bc8af8765567a9a159ea7e334136f045.setContent(html_eb273bcf88febec5fa87cf4ce78c503c);
            
        

        marker_210cd2646ebfcb58b9a324b8f22cfa2c.bindPopup(popup_bc8af8765567a9a159ea7e334136f045)
        ;

        
    
    
            var marker_b01d7e8e9447659874c22da0503550dd = L.marker(
                [39.930771, 32.76754],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_1b4ef9709a442b240bd648897eb179e0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_976219913e897cf8562648b3cf316470 = $(`<div id="html_976219913e897cf8562648b3cf316470" style="width: 100.0%; height: 100.0%;">region: Middle East & North Africa, group_name: Unknown, num_attacks: 8</div>`)[0];
                popup_1b4ef9709a442b240bd648897eb179e0.setContent(html_976219913e897cf8562648b3cf316470);
            
        

        marker_b01d7e8e9447659874c22da0503550dd.bindPopup(popup_1b4ef9709a442b240bd648897eb179e0)
        ;

        
    
    
            var marker_9e0bc6d2f566cb2e06e07657696e1617 = L.marker(
                [35.724533, 51.40519],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_2a1119edf311c7d67a995a92e941bfa6 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3e17795c74a98ff359bfb6cca23fcd90 = $(`<div id="html_3e17795c74a98ff359bfb6cca23fcd90" style="width: 100.0%; height: 100.0%;">region: Middle East & North Africa, group_name: Unknown, num_attacks: 6</div>`)[0];
                popup_2a1119edf311c7d67a995a92e941bfa6.setContent(html_3e17795c74a98ff359bfb6cca23fcd90);
            
        

        marker_9e0bc6d2f566cb2e06e07657696e1617.bindPopup(popup_2a1119edf311c7d67a995a92e941bfa6)
        ;

        
    
    
            var marker_c327601c5421bfd644f374ecdae78df3 = L.marker(
                [31.950001, 35.933331],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_051043511b34b632435eff0c5a0b3e3a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bea85a02ff87fed7a93d88be2bf24999 = $(`<div id="html_bea85a02ff87fed7a93d88be2bf24999" style="width: 100.0%; height: 100.0%;">region: Middle East & North Africa, group_name: Popular Front for the Liberation of Palestine (PFLP), num_attacks: 5</div>`)[0];
                popup_051043511b34b632435eff0c5a0b3e3a.setContent(html_bea85a02ff87fed7a93d88be2bf24999);
            
        

        marker_c327601c5421bfd644f374ecdae78df3.bindPopup(popup_051043511b34b632435eff0c5a0b3e3a)
        ;

        
    
    
            var marker_11269110db390b8958998b593c24adf0 = L.marker(
                [41.106178, 28.689863],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_cb43f1321f923509c786e2dad6f1b67d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ec69da777cd884c2d2467f31c400090c = $(`<div id="html_ec69da777cd884c2d2467f31c400090c" style="width: 100.0%; height: 100.0%;">region: Middle East & North Africa, group_name: Turkish People's Liberation Army, num_attacks: 4</div>`)[0];
                popup_cb43f1321f923509c786e2dad6f1b67d.setContent(html_ec69da777cd884c2d2467f31c400090c);
            
        

        marker_11269110db390b8958998b593c24adf0.bindPopup(popup_cb43f1321f923509c786e2dad6f1b67d)
        ;

        
    
    
            var marker_df51d04c0fb888093cf31888005b9a39 = L.marker(
                [40.697132, -73.931351],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_c67003da14086b92d778ef68f4e40395 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a1eed773b82ec01bbb3c4a528c015ef9 = $(`<div id="html_a1eed773b82ec01bbb3c4a528c015ef9" style="width: 100.0%; height: 100.0%;">region: North America, group_name: Unknown, num_attacks: 22</div>`)[0];
                popup_c67003da14086b92d778ef68f4e40395.setContent(html_a1eed773b82ec01bbb3c4a528c015ef9);
            
        

        marker_df51d04c0fb888093cf31888005b9a39.bindPopup(popup_c67003da14086b92d778ef68f4e40395)
        ;

        
    
    
            var marker_6789da241ffbc1345f352606a01a8ba9 = L.marker(
                [40.697132, -73.931351],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_7d0a42c62d5b06b5c0016e04fed298f6 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8bbbf7b2aa5246b3ea8cc539036aa6a7 = $(`<div id="html_8bbbf7b2aa5246b3ea8cc539036aa6a7" style="width: 100.0%; height: 100.0%;">region: North America, group_name: Left-Wing Militants, num_attacks: 21</div>`)[0];
                popup_7d0a42c62d5b06b5c0016e04fed298f6.setContent(html_8bbbf7b2aa5246b3ea8cc539036aa6a7);
            
        

        marker_6789da241ffbc1345f352606a01a8ba9.bindPopup(popup_7d0a42c62d5b06b5c0016e04fed298f6)
        ;

        
    
    
            var marker_1cb9d10073911c2cc2f960fb76063c39 = L.marker(
                [34.097866, -118.407379],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_fb1048e8688ea5ec63f8142084273610 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_83bd0574147bc8f34e150e91877e2566 = $(`<div id="html_83bd0574147bc8f34e150e91877e2566" style="width: 100.0%; height: 100.0%;">region: North America, group_name: Chicano Liberation Front, num_attacks: 20</div>`)[0];
                popup_fb1048e8688ea5ec63f8142084273610.setContent(html_83bd0574147bc8f34e150e91877e2566);
            
        

        marker_1cb9d10073911c2cc2f960fb76063c39.bindPopup(popup_fb1048e8688ea5ec63f8142084273610)
        ;

        
    
    
            var marker_5212345250d36e43e91d089153eb421c = L.marker(
                [40.697132, -73.931351],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_52ecb3ab0583953181b5acbace962c03 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_12d00b39455755033628b8d09702918b = $(`<div id="html_12d00b39455755033628b8d09702918b" style="width: 100.0%; height: 100.0%;">region: North America, group_name: Armed Revolutionary Independence Movement (MIRA), num_attacks: 16</div>`)[0];
                popup_52ecb3ab0583953181b5acbace962c03.setContent(html_12d00b39455755033628b8d09702918b);
            
        

        marker_5212345250d36e43e91d089153eb421c.bindPopup(popup_52ecb3ab0583953181b5acbace962c03)
        ;

        
    
    
            var marker_4c228749b28ce0df69effa8bb78ae6ca = L.marker(
                [40.697132, -73.931351],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_8759e621dac1108d25648facbdec96b2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d8cbce36be3bae057e170f327be803f8 = $(`<div id="html_d8cbce36be3bae057e170f327be803f8" style="width: 100.0%; height: 100.0%;">region: North America, group_name: Jewish Defense League (JDL), num_attacks: 11</div>`)[0];
                popup_8759e621dac1108d25648facbdec96b2.setContent(html_d8cbce36be3bae057e170f327be803f8);
            
        

        marker_4c228749b28ce0df69effa8bb78ae6ca.bindPopup(popup_8759e621dac1108d25648facbdec96b2)
        ;

        
    
    
            var marker_6e01f42259795397e83f2a7abda165d3 = L.marker(
                [-34.891151, -56.187214],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_d7aace6a703ce633ef34554b20413266 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5768c19d6acd08f983a6cceb3af5af06 = $(`<div id="html_5768c19d6acd08f983a6cceb3af5af06" style="width: 100.0%; height: 100.0%;">region: South America, group_name: Tupamaros (Uruguay), num_attacks: 41</div>`)[0];
                popup_d7aace6a703ce633ef34554b20413266.setContent(html_5768c19d6acd08f983a6cceb3af5af06);
            
        

        marker_6e01f42259795397e83f2a7abda165d3.bindPopup(popup_d7aace6a703ce633ef34554b20413266)
        ;

        
    
    
            var marker_d2d35d9ab97bac054c73fb6036a7da05 = L.marker(
                [-34.61768, -58.444435],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_bf8604604f55075c46eb7cda09da9652 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1403e2a78dffdacd2e9a39844a62448c = $(`<div id="html_1403e2a78dffdacd2e9a39844a62448c" style="width: 100.0%; height: 100.0%;">region: South America, group_name: Unknown, num_attacks: 4</div>`)[0];
                popup_bf8604604f55075c46eb7cda09da9652.setContent(html_1403e2a78dffdacd2e9a39844a62448c);
            
        

        marker_d2d35d9ab97bac054c73fb6036a7da05.bindPopup(popup_bf8604604f55075c46eb7cda09da9652)
        ;

        
    
    
            var marker_458fbe767c14214a47a843d73939bf26 = L.marker(
                [-34.61768, -58.444435],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_f1ec0803bb6994d8e40beff4216c0e2b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1009979b2a63a9fc3a5ff89d72bed663 = $(`<div id="html_1009979b2a63a9fc3a5ff89d72bed663" style="width: 100.0%; height: 100.0%;">region: South America, group_name: Peronist Armed Forces (FAP), num_attacks: 3</div>`)[0];
                popup_f1ec0803bb6994d8e40beff4216c0e2b.setContent(html_1009979b2a63a9fc3a5ff89d72bed663);
            
        

        marker_458fbe767c14214a47a843d73939bf26.bindPopup(popup_f1ec0803bb6994d8e40beff4216c0e2b)
        ;

        
    
    
            var marker_449f96195e8af75044bcc51f18958128 = L.marker(
                [10.482834, -66.962128],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_97019a46221578eafa3b4f7559ca6cb3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fd7efacb57e1571b62274cad31eecee7 = $(`<div id="html_fd7efacb57e1571b62274cad31eecee7" style="width: 100.0%; height: 100.0%;">region: South America, group_name: Armed Forces of National Liberation- Venezuela (FALN), num_attacks: 3</div>`)[0];
                popup_97019a46221578eafa3b4f7559ca6cb3.setContent(html_fd7efacb57e1571b62274cad31eecee7);
            
        

        marker_449f96195e8af75044bcc51f18958128.bindPopup(popup_97019a46221578eafa3b4f7559ca6cb3)
        ;

        
    
    
            var marker_b7bc9aa3d3375e7593ec1123653e3aa0 = L.marker(
                [-31.399301, -64.182129],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_46f83b085ba1c2a72bc19e298afd0ee6 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_911e4788cf6ee298802f089fef9fe554 = $(`<div id="html_911e4788cf6ee298802f089fef9fe554" style="width: 100.0%; height: 100.0%;">region: South America, group_name: Ejercito Revolucionaria del Pueblo (ERP) (Argentina), num_attacks: 3</div>`)[0];
                popup_46f83b085ba1c2a72bc19e298afd0ee6.setContent(html_911e4788cf6ee298802f089fef9fe554);
            
        

        marker_b7bc9aa3d3375e7593ec1123653e3aa0.bindPopup(popup_46f83b085ba1c2a72bc19e298afd0ee6)
        ;

        
    
    
            var marker_91513f584da5a86dd013268fed08a15b = L.marker(
                [24.891115, 67.143311],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_0616a6090817d45f88af9ae88e947b7e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0da95688d2a8b03b3db16b38e7b7c95d = $(`<div id="html_0da95688d2a8b03b3db16b38e7b7c95d" style="width: 100.0%; height: 100.0%;">region: South Asia, group_name: Unknown, num_attacks: 1</div>`)[0];
                popup_0616a6090817d45f88af9ae88e947b7e.setContent(html_0da95688d2a8b03b3db16b38e7b7c95d);
            
        

        marker_91513f584da5a86dd013268fed08a15b.bindPopup(popup_0616a6090817d45f88af9ae88e947b7e)
        ;

        
    
    
            var marker_0b89b9f6e925830997080447eca5eec9 = L.marker(
                [14.596051, 120.978666],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_2263ea47dad686831678f38d6c5cb845 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fe7c1a40a354e516612a05c1d32bb2b1 = $(`<div id="html_fe7c1a40a354e516612a05c1d32bb2b1" style="width: 100.0%; height: 100.0%;">region: Southeast Asia, group_name: Unknown, num_attacks: 3</div>`)[0];
                popup_2263ea47dad686831678f38d6c5cb845.setContent(html_fe7c1a40a354e516612a05c1d32bb2b1);
            
        

        marker_0b89b9f6e925830997080447eca5eec9.bindPopup(popup_2263ea47dad686831678f38d6c5cb845)
        ;

        
    
    
            var marker_ccda6dba56a0f610ba3a5bde542c590c = L.marker(
                [11.558831, 104.917445],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_ce271b88bfd53b2393a79506ef86d928 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1dc4841532259387a11e45ea776da98e = $(`<div id="html_1dc4841532259387a11e45ea776da98e" style="width: 100.0%; height: 100.0%;">region: Southeast Asia, group_name: Unknown, num_attacks: 2</div>`)[0];
                popup_ce271b88bfd53b2393a79506ef86d928.setContent(html_1dc4841532259387a11e45ea776da98e);
            
        

        marker_ccda6dba56a0f610ba3a5bde542c590c.bindPopup(popup_ce271b88bfd53b2393a79506ef86d928)
        ;

        
    
    
            var marker_f81aaf2d7c8b53db2a0457ba7322d721 = L.marker(
                [15.153002, 120.591942],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_c978f9217eb44c6703c8b5f5e00a530a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_10d7c6350b8e27e3932dd44cda20f199 = $(`<div id="html_10d7c6350b8e27e3932dd44cda20f199" style="width: 100.0%; height: 100.0%;">region: Southeast Asia, group_name: Unknown, num_attacks: 2</div>`)[0];
                popup_c978f9217eb44c6703c8b5f5e00a530a.setContent(html_10d7c6350b8e27e3932dd44cda20f199);
            
        

        marker_f81aaf2d7c8b53db2a0457ba7322d721.bindPopup(popup_c978f9217eb44c6703c8b5f5e00a530a)
        ;

        
    
    
            var marker_aed4d0fcca50de70568173eeee5d4957 = L.marker(
                [14.67428, 121.057495],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_9ff409559103fc03f74d971882ea5ec9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f072b9cb77664262c71216ebc0680d61 = $(`<div id="html_f072b9cb77664262c71216ebc0680d61" style="width: 100.0%; height: 100.0%;">region: Southeast Asia, group_name: Kabataang Makabayan (KM), num_attacks: 1</div>`)[0];
                popup_9ff409559103fc03f74d971882ea5ec9.setContent(html_f072b9cb77664262c71216ebc0680d61);
            
        

        marker_aed4d0fcca50de70568173eeee5d4957.bindPopup(popup_9ff409559103fc03f74d971882ea5ec9)
        ;

        
    
    
            var marker_3ba771b8e98c5bf30d5a37331f0cf2ba = L.marker(
                [15.185916, 120.54187],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_5a2235cfd9e30206c8658b9f2fe4d5e7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bc1fce86b332a34e46ac7235972bf366 = $(`<div id="html_bc1fce86b332a34e46ac7235972bf366" style="width: 100.0%; height: 100.0%;">region: Southeast Asia, group_name: New People's Army (NPA), num_attacks: 1</div>`)[0];
                popup_5a2235cfd9e30206c8658b9f2fe4d5e7.setContent(html_bc1fce86b332a34e46ac7235972bf366);
            
        

        marker_3ba771b8e98c5bf30d5a37331f0cf2ba.bindPopup(popup_5a2235cfd9e30206c8658b9f2fe4d5e7)
        ;

        
    
    
            var marker_e6d3a1040f9bab0ecc13d165bfd0ea7e = L.marker(
                [11.583513, 37.397019],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_43b35b0660df51b099e5c59e1101d7e8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_db930646d72ec10ea2df20cc030d499e = $(`<div id="html_db930646d72ec10ea2df20cc030d499e" style="width: 100.0%; height: 100.0%;">region: Sub-Saharan Africa, group_name: Eritrean Liberation Front, num_attacks: 1</div>`)[0];
                popup_43b35b0660df51b099e5c59e1101d7e8.setContent(html_db930646d72ec10ea2df20cc030d499e);
            
        

        marker_e6d3a1040f9bab0ecc13d165bfd0ea7e.bindPopup(popup_43b35b0660df51b099e5c59e1101d7e8)
        ;

        
    
    
            var marker_265ebb713390df30d0992b731431d522 = L.marker(
                [54.607712, -5.95621],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_39b887b02fedd1be3494cc290d1489dd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1fffc80b71ba5f139e6d51dcbb7dcbe8 = $(`<div id="html_1fffc80b71ba5f139e6d51dcbb7dcbe8" style="width: 100.0%; height: 100.0%;">region: Western Europe, group_name: Irish Republican Army (IRA), num_attacks: 16</div>`)[0];
                popup_39b887b02fedd1be3494cc290d1489dd.setContent(html_1fffc80b71ba5f139e6d51dcbb7dcbe8);
            
        

        marker_265ebb713390df30d0992b731431d522.bindPopup(popup_39b887b02fedd1be3494cc290d1489dd)
        ;

        
    
    
            var marker_1bb7333ec52302d5e9ab4875ec4b07f4 = L.marker(
                [48.139126, 11.580186],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_0447f2e4f0363874ed8add73d00b69a1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ef11d48d0fdd663e38023b29ee6b9b0d = $(`<div id="html_ef11d48d0fdd663e38023b29ee6b9b0d" style="width: 100.0%; height: 100.0%;">region: Western Europe, group_name: Unknown, num_attacks: 9</div>`)[0];
                popup_0447f2e4f0363874ed8add73d00b69a1.setContent(html_ef11d48d0fdd663e38023b29ee6b9b0d);
            
        

        marker_1bb7333ec52302d5e9ab4875ec4b07f4.bindPopup(popup_0447f2e4f0363874ed8add73d00b69a1)
        ;

        
    
    
            var marker_604ec3ea065c26af0689369c6002336e = L.marker(
                [52.50153, 13.401851],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_c33011fefb63237254b20142d1b800fb = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9ae9963fd8bf433e088c5482328cd30c = $(`<div id="html_9ae9963fd8bf433e088c5482328cd30c" style="width: 100.0%; height: 100.0%;">region: Western Europe, group_name: Unknown, num_attacks: 6</div>`)[0];
                popup_c33011fefb63237254b20142d1b800fb.setContent(html_9ae9963fd8bf433e088c5482328cd30c);
            
        

        marker_604ec3ea065c26af0689369c6002336e.bindPopup(popup_c33011fefb63237254b20142d1b800fb)
        ;

        
    
    
            var marker_05064ab949bb13a5db929da21ef5499e = L.marker(
                [54.607712, -5.95621],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_e16a678551b2d717be66dd48558a956b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2e71da1f4e16e242408af372651e260f = $(`<div id="html_2e71da1f4e16e242408af372651e260f" style="width: 100.0%; height: 100.0%;">region: Western Europe, group_name: Irish Republican Extremists, num_attacks: 3</div>`)[0];
                popup_e16a678551b2d717be66dd48558a956b.setContent(html_2e71da1f4e16e242408af372651e260f);
            
        

        marker_05064ab949bb13a5db929da21ef5499e.bindPopup(popup_e16a678551b2d717be66dd48558a956b)
        ;

        
    
    
            var marker_c563f8577f746b332e491b5599a8b3a8 = L.marker(
                [52.50153, 13.401851],
                {
}
            ).addTo(map_9c6e01da05782abcf882ddd54aa7c96e);
        
    
        var popup_fc8041b6e11f52129969c71c902855d8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d092e77fba070bacdd55addd97aff184 = $(`<div id="html_d092e77fba070bacdd55addd97aff184" style="width: 100.0%; height: 100.0%;">region: Western Europe, group_name: Extraparliamentary Opposition (APO), num_attacks: 3</div>`)[0];
                popup_fc8041b6e11f52129969c71c902855d8.setContent(html_d092e77fba070bacdd55addd97aff184);
            
        

        marker_c563f8577f746b332e491b5599a8b3a8.bindPopup(popup_fc8041b6e11f52129969c71c902855d8)
        ;

        
    
</script>
</html>